/* CONTACTO.HTML*/

main {
    display: flex;
    flex-direction: row;
    margin-inline: 15%;
    margin-block: 5%;
    padding: 5%;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px #005900ff solid;
}

#info {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
}

.img {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#contacto_info a,
#contacto_info p {
    text-align: left;
    text-decoration: none;
    color: rgb(99, 99, 99);
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

form label{
    text-align: center;
}

input, select {
    outline: none;
    padding-block: 7px;
    padding-left: 15px;
    padding-right: 10px;
    color: rgb(86, 86, 86);
    margin: 10px;
    backdrop-filter: blur(100px);
    font-family: "Poppins", sans-serif;

    border-radius: 100px;
    border: 1px #005900ff solid;
}

textarea {
    border: none;
    outline: none;
    padding: 15px;
    color: rgb(86, 86, 86);
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(100px);
    font-family: "Poppins", sans-serif;
    border-radius: 15px;
    border: 1px #005900ff solid;
    resize: vertical;
    overflow: hidden;
    height: 15vh;
}

input[type="file"]{
    border: none;
    text-align: center;
}

input[type="file"]::file-selector-button {
    border: 1px rgb(86, 86, 86) solid;
    background-color: transparent;
    color: rgb(86, 86, 86);
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 7300;
}

iframe{
    border-radius: 10px;
}

@media(max-width: 860px) {

    #info {
        width: 100%;
        
    }

    form {
        width: 100%;

    }

    main{
        margin-inline: 15px;
        flex-direction: column;
    }
    input{
        font-size: 1rem;
    }
    textarea{
        font-size: 1rem;
    }

    .img{
        display: none;
    }
}
