.contacto-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-block: 200px;
    margin-inline: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    max-width: 700px;
    min-height: 400px;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 12px;

}

.logoContacto img {
    width: 250px;
    height: auto;
    padding-bottom: 10px;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form h1 {
    font-size: 2.5rem;
    text-align: left;
}

input,
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}

textarea {
    resize: vertical;
    min-height: min-content;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid grey;
    /* mantiene el mismo borde */
}
#submit{
    width: 30%;
    font-size: 16px;
}

.fila {
    display: flex;
    gap: 20px;
    width: 100%;
}

@media(max-width: 860px) {
    .contacto-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 10px;
        gap: 0;
    }

    .contacto-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center;
    }
    .localizacion p{
        text-align: center;

    }

    .info,
    form {
        max-width: 100%;
        width: 100%;
        min-height: auto;
        padding: 20px;
        border-radius: 8px;
        align-content: center;
    }

    form h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    input,
    textarea,
    .botones {
        font-size: 18px;
    }

    .fila {
        flex-direction: column;
        gap: 15px;
    }

    .botones {
        width: 100%;
        min-width: auto;
    }

    .logoContacto {
        display: none;
    }

    #submit{
    
        width: 100%;
    }

}