*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: 100%;
    background-image: url(/src/voluntarios_inicio_sesion.jpg);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);    
    width: 50%;
    height: 40%;
}

.form input {
    border: none;
    outline: none;
    padding: 5px;
    text-align: center;
    color: rgb(86, 86, 86);
    margin: 5px;
    padding-inline: vw;
    background-color: rgba(255, 255, 255, 0.20);
    /* Más suave */
    backdrop-filter: blur(100px);
    font-family: "Poppins", sans-serif;
    border-color: grey;
    border-radius: 100px;
}

.form a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 5px;
    color: rgb(99, 99, 99);
    text-decoration: none;
    font-size: 0.8em;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #005900ff;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

input[type="submit"] {
    border: none;
    background-color: rgba(0, 89, 0, 0.6);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: rgba(0, 120, 0, 0.75);
}


.cambio_inicio_sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 100%;
    background-color: rgb(250, 250, 250);
}

.container_inicio_sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.container_inicio_sesion a {
    color: grey;
    text-decoration: none;
}

.cambio_inicio_sesion img {
    height: auto;
    width: 30vw;
    padding-bottom: 25%;
}