form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 50px;
}

.titulo {
    background: linear-gradient(rgba(180, 180, 180, 0.3), rgba(43, 43, 43, 0.3)),
        url(../src/voluntarios_inicio_sesion.jpg) center center / cover no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 70px 15px 70px 15px;
    border-radius: 10px;
}

h2 {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ebeeef 0%, #ebeeef 95%, #ffffff 100%); 
}

.form-wrap {
    margin-block: 100px;
    width: 670px;
    background: #ffffff;
    border-radius: 10px;
}

input {
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #b2b2b2;
    outline: none;
    width: 75%;
}

.cajas {
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boton_blanco {
    border: 1px solid #005900;
    color: var(--verde-principal);
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    height: 44px;
    font-size: 14px;
    transition: all 0.4s ease;
}

.boton_blanco:hover {
    font-size: 16px;
    background-color: #006e00;
    color: var(--blanco);
}

/*---------------MEDIA QUERIES SMARTPHONE---------------*/
@media (max-width:860px) {

    .form-wrap {
        width: 100vw;
        border-radius: 0px;
        margin-top: 0;
    }

    .titulo {
        border-radius: 0px;
    }

    main {
        min-height: auto;
        background-color: white;
    }

    input {
        font-size: 1rem;
        padding: 10px;
        margin: 10px;
        border: none;
        border-bottom: 1px solid #b2b2b2;
        outline: none;
        width: 99%;
        max-width: 400px;
    }

    .cajas {
        flex-direction: column;
        min-height: 400px;
        padding: 10%;
    }

    #vehitxt {
        display: block;
    }

    #vehiculo {
        display: block;
    }

    .submit {
        font-size: 1rem;
    }
}

.crearCuenta {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 0.9em;
    font-weight: 300;
    margin: 10px;
}

main a {
    font-size: 0.9em;
    font-weight: 300;
    margin: 10px;
}

#vehitxt {
    display: flex;
    justify-content: center;
}

#vehiculo {
    display: flex;
    justify-content: center;
}

#diversidad {
    font-size: small;
}