form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 50px;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ebeeef;
}

.titulo {
    background: linear-gradient(rgba(180, 180, 180, 0.3), rgba(43, 43, 43, 0.3)), url(../src/voluntarios_inicio_sesion.jpg) center center / cover no-repeat;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 15px 74px 15px;
}
h2{
    color: white;
}

.form-wrap {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

}

input{
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    min-width: 160px;
    height: 50px;
    background-color: #005900;
    border-radius: 25px;
    border: none;
    color: #fff;
    line-height: 1.2;
    margin: 10px;
    cursor: pointer;
}

form a{
    font-size: 0.9em;
    font-weight: 300;
    margin: 10px;
}