* {
    margin: 0;
    padding: 0;
    
}

html {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(/src/voluntarios_inicio_sesion.jpg) center center / cover no-repeat;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

/* Todos los Formularios*/
.form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 50%;
    height: 40%;
}

.form a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 5px;
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.form input {
    border: none;
    outline: none;
    padding: 5px;
    text-align: center;
    color: rgb(86, 86, 86);
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 100px;
}

input[type="submit"] {
    border: none;
    background-color: rgba(0, 89, 0, 0.8);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 15px;
}
input[type="submit"]:hover {
    background-color: rgba(0, 89, 0, 0.9);
}

input[type="radio"] {
  accent-color: rgba(0, 89, 0, 0.8); 
  cursor: pointer;
  transform: scale(1.1);
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.radio-group label {
    margin-right: 15px;
    color: rgb(86, 86, 86);
    font-family: "Poppins", sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #005900ff;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/*Parte blanca de la pantalla*/

.cambio_inicio_sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 100%;
    background-color: rgb(250, 250, 250);
}

.container_inicio_sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.container_inicio_sesion a {
    color: grey;
    text-decoration: none;
}

.cambio_inicio_sesion img {
    height: auto;
    width: 30vw;
    padding-bottom: 25%;
}

/*Registro*/
.seleccion_registro {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 50%;
    height: 40%;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-block: 50px;
    transition: 0.3s;
}

.seleccion_registro:hover {
    transform: scale(1.04);
    backdrop-filter: blur(15px);
}