/* INDEX.HTML */

#imagen_index {
    background-image: url('../src/index_running.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen_index h1 {
    color: white;
}

#container_eventos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 50px;
}

.evento_index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding-block: 50px;
    border: none;
    margin-block: 10px;
    min-width: 660px;
}

.evento_index:hover {
    border: 1px #005900 solid;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.01);
}

.evento_index img {
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 50px;
}

.descripcion_evento {
    height: 100px;
    overflow: hidden;
    position: relative;
    text-align: justify;
}

.extra_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 15px;
}

@media(max-width: 860px) {
    #imagen_index h1 {
        font-size: 1.5rem;
        padding-inline: 50px;
    }

    #imagen_index {
        height: 230px;
    }

    #container_eventos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        padding: 10px;
        margin-bottom: 20px;
    }

    .evento_index {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-block: 1px;
        min-width: min-content;
        width: 100%;
    }

    .evento_index img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 8px;
    }

    .extra_info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
    }

    .extra_info p {
        font-size: 0.8rem;
    }

    .informacion-evento {
        width: fit-content;
        height: 150px;
    }

    .informacion-evento h2 {
        font-size: 1rem;
    }

    .descripcion_evento {
        display: none;
    }
    .evento_index:hover {
        border: none;
    }
}