/* CABECERA */

header {
    height: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 0 20px;
    background-color: #005700ff;
}

header img {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    width: auto;
}

/* MENU DE CABECERA */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin: 0 30px;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* FOOTER */

footer {
    background-color: #005700ff;
    display: flex;
    justify-content: space-around;
    padding: 40px 60px;
}

.div_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.div_footer h3 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.div_footer p {
    color: white;
    text-decoration: none;

}

.div_footer a {
    color: white;
    text-decoration: none;

}

footer .div_footer a:hover {
    opacity: 0.8;
}