body {
    align-items: center;
    justify-content: center;
    background: url('../src/index_running.jpg') center/cover no-repeat;
    padding: 2rem;
}

.alert_container {
    width: min(100%, 450px);
    max-height: 90vh;
    padding: 2rem;
    border-radius: 1em;
    border: 1px solid rgb(230, 230, 230);

    backdrop-filter: blur(25px);
    background-color: rgba(224, 224, 224, 0.6);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

p {
    text-align: center;
    line-height: 1.5;
    color: #222;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
}
