/* SOBRENOSOTROS.HTML */

.container_conocenos {
    display: flex;
    flex-direction: column;
}

#descripcion_conocenos {
    margin-inline: 20%;
    margin-block: 30px;
}

#descripcion_conocenos p {
    margin-block: 10px;
    text-align: justify;
}

#boton_conocenos {
    display: flex;
    justify-content: center;
}

@media(max-width: 860px) {

    #descripcion_conocenos {
        margin-inline: 30px;
        margin-block: 0px;
    }

    #boton_conocenos {
        padding: 50px;
        margin-bottom: 1em;

    }

}